version: 2
jobs:
  build:
    working_directory: ~/bounded-framework
    docker:
      - image: circleci/openjdk:11-jdk
    environment:
      CODECOV_TOKEN: "abba3073-45f3-4b09-8a18-2cb63f72bbe5"
      SBT_VERSION: 1.4.4
      SBT_OPTS: "-XX:MaxMetaspaceSize=512m"
      JVM_OPTS: -Xmx3200m
      TERM: dumb
    steps:
      - run: echo 'export ARTIFACT_BUILD=$CIRCLE_PROJECT_REPONAME-$CIRCLE_BUILD_NUM.zip' >> $BASH_ENV
      - run:
          name: Get sbt binary
          command: |
                    sudo apt update && sudo apt install -y curl
                    curl -L -o sbt-$SBT_VERSION.deb https://dl.bintray.com/sbt/debian/sbt-$SBT_VERSION.deb
                    sudo dpkg -i sbt-$SBT_VERSION.deb
                    rm sbt-$SBT_VERSION.deb
                    sudo apt-get update
                    sudo apt-get clean && sudo apt-get autoclean
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "build.sbt" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-
      - run:
          name: Run tests 
          command: cat /dev/null | sbt clean coverage test coverageReport 
          #- store_artifacts: # for display in Artifacts: https://circleci.com/docs/2.0/artifacts/ 
          #path: target/universal/samplescala.zip
          #destination: samplescala
      - save_cache:
          key: v1-dependencies--{{ checksum "build.sbt" }}
          paths:
            - "~/.ivy2/cache"
            - "~/.sbt"
            - "~/.m2"
      - run:
          name: Store Coverage Report
          command: bash <(curl -s https://codecov.io/bash)
